html{
    background-color: #0E131F;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size:3em;
    margin: 20px 0 0 0;
    color:white;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size:1.5em;
    margin: 20px 0 0 0;
    color:white;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size:1em;
    color: #FF0035;
    margin: 0;
    font-weight:400;
}
h5{
    font-family: 'Roboto', sans-serif;
    font-size:1em;
    margin: 0;
    color:white;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size:1.25em;
    color:white;
}

.page-wrapper{
    margin:1em;
    height: 500px;
    display:inline-flex;
}

.ruler {
    background-image: url('ruler.svg');
    background-repeat: repeat-x;
    background-position: 0 470px;
  }

.title-wrapper{
    text-align: center;
    width: 100vw;
    height:100%;
    margin-right: 2%;
    margin: 0 1% 0 1%;
}

.title-wrapper h1{
    padding-top: 15%;
    margin-bottom:0;
}
.title-wrapper h3{
    margin: 0;
}

.title-wrapper p{
    padding-top: 10%;
}

.one-year-wrapper{
    width:15vw;
    text-align: center;
    position: relative;
    margin: 0 1% 0 1%;
}

.one-year-wrapper .one-year{
    height: 1px;
    width: 1px;
    position: absolute;
    background-color: white;
    left:50%;
    top:30%;
}

.one-year-wrapper i{
    font-size: 3em;
    position: absolute;
    left:44.5%;
    top:32%;
    color:white
}

.average-life-wrapper{
    width:25vw;
    text-align: center;
    position: relative;
    margin: 0 1% 0 1%;
}

.average-life-wrapper .average-life{
    height: 8.5px;
    width: 8.5px;
    position: absolute;
    background-color: white;
    left:50%;
    top:31%;
}

.jews-killed-wrapper{
    position: relative;
    margin: 0 1% 0 1%;
}

.jews-killed-title{
    width: 400px;
    text-align: center;
    left:0;
    position: sticky;
}


.jews-killed-wrapper .jews-killed{
    height: 500px;
    width: 866400px; /* 6 million people died */
    position: absolute;
    background-color: #38405F;
    
}

.jewish-children-killed{
    height: 350px;
    width: 206285px; /* 1 million children died */
    position: absolute;
    background-color: #333138;
    left: 1.0035%;
    top: 16%;
}

.jewish-children-killed-title{
    width: 265px;
    text-align: center;
    left:0;
    position: sticky;
}

.fact-statement-1{
    width: 700px;
    margin-left: 10%;
    margin-top: 50px;
    text-align: center;
}

.mouse-compare{
    width:900px;
    margin-left:20%;
    margin-top: -100px;
    text-align: center;
}

.german-compare{
    width:900px;
    margin-left:30%;
    margin-top: -220px;
    text-align: center;
}

.fact-statement-2{
    width: 700px;
    margin-left: 40%;
    margin-top: -175px;
    text-align: center;
}

.fact-statement-3{
    width: 700px;
    margin-left: 50%;
    margin-top: -100px;
    text-align: center;
}
.fact-statement-4{
    width: 700px;
    margin-left: 60%;
    margin-top: -95px;
    text-align: center;
}
.fact-statement-5{
    width: 700px;
    margin-left: 70%;
    margin-top: -150px;
    text-align: center;
}
.fact-statement-6{
    width: 700px;
    margin-left: 99%;
    margin-top: -100px;
    text-align: center;
}


@media (max-width: 575.98px) { 

    h1{
        font-size:2em;
    }
    h2{
        font-size:1em;
    }
    h3{
        font-size:0.75em;
    }
    p{
        font-size:0.75em;
    }

    .one-year-wrapper i{
        left:33.5%;
    }

    .jews-killed-title {
        width: 300px;
    }

    .jewish-children-killed-title {
        width: 200px;
    }
 }